# Capstone Sponsor Deliverable
# Empirical Study on the Directors in US-Issued Companies


#### Fatima Nurmakhamadova - Group 7
#### College of Professional Studies, Northeastern University
#### ALY6980.70447: Capstone
#### Dr. Roy Wada
#### December 18, 2022

This file represents the individual contribution of Fatima Nurmakhamadova toward the final project of Group 7. To execute this file, you need to upload the <Processed_Data_4_SinceUntilIncluded.csv> file attached to this submission that includes all data processing including education background.

It includes 1. Data Transformation and Integration, 2. Feature Engineering of Third-Degree Connection & Controversies, 3. Predictive Modeling

###  Import Libraries and Packages

In [63]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# turn off warnings
import warnings
warnings.filterwarnings('ignore')

## File: 'Processed_Data_4_SinceUntilIncluded.csv'

## Data Extraction
### Importing the dataset

In [64]:
# Please upload the attached 'Processed_Data_4_SinceUntilIncluded.csv' file
# into the same folder where this file is in Jupyter Notebook
df = pd.read_csv('Processed_Data_4_SinceUntilIncluded.csv',  sep=',')

#See and check the dataset
df.head()

,Unnamed: 0.1,Unnamed: 0,target,ISSUERID,INDIVIDUAL_ID,DepartTime,AGE,Tenure,DirectorshipCount,AVG_IPS,...,CHAIRMAN_SINCE,CHAIRMAN_UNTIL,LEAD_DIRECTOR_SINCE,LEAD_DIRECTOR_UNTIL,Sector,ISSUER_CNTRY_DOMICILE,CONTROLLED_VIA_STOCK_PYRAMID,HAS_CORPORATE_PARENT,OWNERSHIP_CATEGORY,IVY_indicator
0,0,0,0.0,IID000000002123703,88176,0,67,0,1.0,7.9850,...,NaN,NaN,NaN,NaN,Financials,US,No,No,Widely Held,False
1,1,1,0.0,IID000000002123703,139570,0,62,0,3.0,5.8500,...,NaN,NaN,NaN,NaN,Financials,US,No,No,Widely Held,UNKNOWN
2,2,2,0.0,IID000000002123703,22405,0,67,0,5.0,5.3250,...,NaN,NaN,NaN,NaN,Financials,US,No,No,Widely Held,False
3,3,3,0.0,IID000000002123703,178049,0,67,0,4.0,8.7700,...,NaN,NaN,NaN,NaN,Financials,US,No,No,Widely Held,False
4,4,4,0.0,IID000000002123703,685844,0,56,1,1.0,5.7175,...,NaN,NaN,NaN,NaN,Financials,US,No,No,Widely Held,UNKNOWN

In [65]:
#Drop unnecessary columns as Unnamed: 0  and Unnamed: 0.1 
df = df.drop(columns=['Unnamed: 0', 'Unnamed: 0.1',])

#Check the updates
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4155 entries, 0 to 4154
Data columns (total 45 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   target                                4155 non-null   float64
 1   ISSUERID                              4155 non-null   object
 2   INDIVIDUAL_ID                         4155 non-null   int64
 3   DepartTime                            4155 non-null   int64
 4   AGE                                   4155 non-null   int64
 5   Tenure                                4155 non-null   int64
 6   DirectorshipCount                     4155 non-null   float64
 7   AVG_IPS                               3826 non-null   float64
 8   MED_IPS                               3826 non-null   float64
 9   AVG_Weighted_Connection               3825 non-null   float64
 10  MED_Weighted_Connection               3825 non-null   float64
 11  DOMINANT_SHAREHOLDER_PCT              4155 non-null   float64
 12  INSIDERS_OFFICERS_DIRECTORS_HELD_PCT  4155 non-null   float64
 13  PRINCIPAL_SHAREHOLDER_PCT             4155 non-null   float64
 14  CONTROLLING_SHAREHOLDER_PCT           4155 non-null   float64
 15  education_x                           2357 non-null   object
 16  GENDER                                4155 non-null   object
 17  Directorship_Level                    4155 non-null   object
 18  Directorship_Level_4                  4155 non-null   object
 19  COMPANY_FOUNDER                       4155 non-null   object
 20  EXEC_OR_NON-EXEC                      4155 non-null   object
 21  HistIdentity_CEO                      4155 non-null   object
 22  HistIdentity_Chairman                 4155 non-null   object
 23  HistIdentity_LeadDirector             4155 non-null   object
 24  PayCommitteeMember                    4155 non-null   object
 25  AuditCommitteeMember                  4155 non-null   object
 26  NominatingCommitteeMember             4155 non-null   object
 27  INDEPENDENT_OF_MANAGEMENT             4155 non-null   object
 28  MULTIPLE_CLASSES_OF_VOTING_STOCK      4155 non-null   object
 29  OutsideRelatedReason                  4155 non-null   object
 30  OutsideRelatedReason2                 4155 non-null   object
 31  BOARD_MEMBER_SINCE                    4155 non-null   object
 32  BOARD_MEMBER_UNTIL                    1438 non-null   object
 33  CEO_SINCE                             495 non-null    object
 34  CEO_UNTIL                             225 non-null    object
 35  CHAIRMAN_SINCE                        488 non-null    object
 36  CHAIRMAN_UNTIL                        218 non-null    object
 37  LEAD_DIRECTOR_SINCE                   292 non-null    object
 38  LEAD_DIRECTOR_UNTIL                   156 non-null    object
 39  Sector                                4012 non-null   object
 40  ISSUER_CNTRY_DOMICILE                 4155 non-null   object
 41  CONTROLLED_VIA_STOCK_PYRAMID          4155 non-null   object
 42  HAS_CORPORATE_PARENT                  4155 non-null   object
 43  OWNERSHIP_CATEGORY                    4155 non-null   object
 44  IVY_indicator                         4155 non-null   object
dtypes: float64(10), int64(4), object(31)
memory usage: 1.4+ MB

## Data Processing
### Data Transformation and Integration
### Third-Degree Connection, and Controversies

### Combine Calculated Average of columns from 2017 -2022 in  connections_3_degrees_10112022.csv (original) into one then merge to Cleaned data (Processed_Data_4.csv')

In [66]:
# Please upload the attached 'connections_3_degrees_10112022.csv' file
# into the same folder where this file is in Jupyter Notebook
df_OG3rd = pd.read_csv('connections_3_degrees_10112022.csv',  sep=',')

df_OG3rd.head()

,ISSUERID,INDIVIDUAL_ID,2022,2021,2020,2019,2018,2017,2016,2015
0,IID000000002140769,22002,1.0,2.0,1.0,1.0,NaN,NaN,NaN,NaN
1,IID000000002140769,150319,2.0,3.0,2.0,2.0,NaN,NaN,NaN,NaN
2,IID000000002140769,176759,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN
3,IID000000002140769,535230,1.0,1.0,1.0,1.0,NaN,NaN,NaN,NaN
4,IID000000005005165,122380,2.0,2.0,2.0,NaN,NaN,NaN,NaN,NaN

In [67]:
#Drop columns below year 2017 as we focus only on the period from 2017-2022
df_OG3rd = df_OG3rd.drop(['2015', '2016',], axis=1)

#Show the result
df_OG3rd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31894 entries, 0 to 31893
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ISSUERID       31894 non-null  object
 1   INDIVIDUAL_ID  31894 non-null  int64
 2   2022           18014 non-null  float64
 3   2021           20522 non-null  float64
 4   2020           18717 non-null  float64
 5   2019           16976 non-null  float64
 6   2018           15395 non-null  float64
 7   2017           13841 non-null  float64
dtypes: float64(6), int64(1), object(1)
memory usage: 1.9+ MB

Calculate average row values of connections_3_degrees in all 5 columns for years 2017 - 2022 and assign them into new column calling it Avg_3rd_connect_15_22

In [68]:
#Calculate Average Row Value for all connections_3_degrees Columns
df_OG3rd['Avg_3rd_connect_17_22'] = df_OG3rd[['2017','2018', '2019', '2020', 
                                          '2021', '2022',]].mean(axis=1)

#view updated DataFrame
df_OG3rd.head(10)

,ISSUERID,INDIVIDUAL_ID,2022,2021,2020,2019,2018,2017,Avg_3rd_connect_17_22
0,IID000000002140769,22002,1.0,2.0,1.0,1.0,NaN,NaN,1.25
1,IID000000002140769,150319,2.0,3.0,2.0,2.0,NaN,NaN,2.25
2,IID000000002140769,176759,NaN,2.0,NaN,NaN,NaN,NaN,2.00
3,IID000000002140769,535230,1.0,1.0,1.0,1.0,NaN,NaN,1.00
4,IID000000005005165,122380,2.0,2.0,2.0,NaN,NaN,NaN,2.00
5,IID000000005005165,122967,4.0,4.0,3.0,3.0,2.0,2.0,3.00
6,IID000000005005165,125566,1.0,1.0,1.0,1.0,1.0,1.0,1.00
7,IID000000005005165,538931,1.0,1.0,NaN,NaN,NaN,NaN,1.00
8,IID000000005005165,618988,2.0,2.0,2.0,1.0,NaN,NaN,1.75
9,IID000000005005165,624304,NaN,NaN,NaN,1.0,1.0,1.0,1.00

In [69]:
#Delete connections_3_degrees values in all 5 columns for years 2017 - 2022
df_OG3rd = df_OG3rd.drop(columns=['2017','2018', '2019', '2020', '2021', '2022',])

#Check the updates
df_OG3rd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31894 entries, 0 to 31893
Data columns (total 3 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ISSUERID               31894 non-null  object
 1   INDIVIDUAL_ID          31894 non-null  int64
 2   Avg_3rd_connect_17_22  29540 non-null  float64
dtypes: float64(1), int64(1), object(1)
memory usage: 747.6+ KB

### Merge Avg_3rd_connect_17_22 Column to Cleaned data ('Processed_Data_4.csv')

In [70]:
# Join the connection data with the cleaned data
# NOTE: Be careful, the primary key should be the combination of the Individual ID and Issuer ID)
df = df.merge(df_OG3rd, how='left', on=['ISSUERID','INDIVIDUAL_ID'])

#Show the result
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4155 entries, 0 to 4154
Data columns (total 46 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   target                                4155 non-null   float64
 1   ISSUERID                              4155 non-null   object
 2   INDIVIDUAL_ID                         4155 non-null   int64
 3   DepartTime                            4155 non-null   int64
 4   AGE                                   4155 non-null   int64
 5   Tenure                                4155 non-null   int64
 6   DirectorshipCount                     4155 non-null   float64
 7   AVG_IPS                               3826 non-null   float64
 8   MED_IPS                               3826 non-null   float64
 9   AVG_Weighted_Connection               3825 non-null   float64
 10  MED_Weighted_Connection               3825 non-null   float64
 11  DOMINANT_SHAREHOLDER_PCT              4155 non-null   float64
 12  INSIDERS_OFFICERS_DIRECTORS_HELD_PCT  4155 non-null   float64
 13  PRINCIPAL_SHAREHOLDER_PCT             4155 non-null   float64
 14  CONTROLLING_SHAREHOLDER_PCT           4155 non-null   float64
 15  education_x                           2357 non-null   object
 16  GENDER                                4155 non-null   object
 17  Directorship_Level                    4155 non-null   object
 18  Directorship_Level_4                  4155 non-null   object
 19  COMPANY_FOUNDER                       4155 non-null   object
 20  EXEC_OR_NON-EXEC                      4155 non-null   object
 21  HistIdentity_CEO                      4155 non-null   object
 22  HistIdentity_Chairman                 4155 non-null   object
 23  HistIdentity_LeadDirector             4155 non-null   object
 24  PayCommitteeMember                    4155 non-null   object
 25  AuditCommitteeMember                  4155 non-null   object
 26  NominatingCommitteeMember             4155 non-null   object
 27  INDEPENDENT_OF_MANAGEMENT             4155 non-null   object
 28  MULTIPLE_CLASSES_OF_VOTING_STOCK      4155 non-null   object
 29  OutsideRelatedReason                  4155 non-null   object
 30  OutsideRelatedReason2                 4155 non-null   object
 31  BOARD_MEMBER_SINCE                    4155 non-null   object
 32  BOARD_MEMBER_UNTIL                    1438 non-null   object
 33  CEO_SINCE                             495 non-null    object
 34  CEO_UNTIL                             225 non-null    object
 35  CHAIRMAN_SINCE                        488 non-null    object
 36  CHAIRMAN_UNTIL                        218 non-null    object
 37  LEAD_DIRECTOR_SINCE                   292 non-null    object
 38  LEAD_DIRECTOR_UNTIL                   156 non-null    object
 39  Sector                                4012 non-null   object
 40  ISSUER_CNTRY_DOMICILE                 4155 non-null   object
 41  CONTROLLED_VIA_STOCK_PYRAMID          4155 non-null   object
 42  HAS_CORPORATE_PARENT                  4155 non-null   object
 43  OWNERSHIP_CATEGORY                    4155 non-null   object
 44  IVY_indicator                         4155 non-null   object
 45  Avg_3rd_connect_17_22                 2164 non-null   float64
dtypes: float64(11), int64(4), object(31)
memory usage: 1.5+ MB

### Combine Calculated Sum of columns from 2017 -2022 in  controversies_MSCI_aggregate.csv (original) into one then merge to the Processed_Data_4.csv

In [71]:
# Please upload the attached 'controversies_MSCI_aggregate.csv' file
# into the same folder where this file is in Jupyter Notebook
df_OGcntrv = pd.read_csv('controversies_MSCI_aggregate.csv',  sep=',')

df_OGcntrv.head()

,ISSUER_NAME,ISSUERID,ISSUER_TICKER,ISSUER_ISIN,ISSUER_CNTRY_DOMICILE,2022,2021,2020,2019,2018,2017,2016,2015,2014,2013,2012,2011,2010,2009,2008
0,S&P GLOBAL INC.,IID000000002123703,SPGI,US78409V1044,US,2,1,0,0,0,0,0,0,0,0,0,0,0,0,0
1,STRYKER CORPORATION,IID000000002123714,SYK,US8636671013,US,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
2,AFLAC INCORPORATED,IID000000002123719,AFL,US0010551028,US,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
3,"Dominion Energy, Inc.",IID000000002123730,D,US25746U1097,US,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
4,BNP PARIBAS SA,IID000000002123743,BNP,FR0000131104,FR,5,1,1,1,0,0,0,0,0,0,0,0,0,0,0

In [72]:
df_OGcntrv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1036 entries, 0 to 1035
Data columns (total 20 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ISSUER_NAME            1036 non-null   object
 1   ISSUERID               1036 non-null   object
 2   ISSUER_TICKER          1036 non-null   object
 3   ISSUER_ISIN            1036 non-null   object
 4   ISSUER_CNTRY_DOMICILE  1036 non-null   object
 5   2022                   1036 non-null   int64
 6   2021                   1036 non-null   int64
 7   2020                   1036 non-null   int64
 8   2019                   1036 non-null   int64
 9   2018                   1036 non-null   int64
 10  2017                   1036 non-null   int64
 11  2016                   1036 non-null   int64
 12  2015                   1036 non-null   int64
 13  2014                   1036 non-null   int64
 14  2013                   1036 non-null   int64
 15  2012                   1036 non-null   int64
 16  2011                   1036 non-null   int64
 17  2010                   1036 non-null   int64
 18  2009                   1036 non-null   int64
 19  2008                   1036 non-null   int64
dtypes: int64(15), object(5)
memory usage: 162.0+ KB

In [73]:
#Drop unnecessary columns and those below year 2017 as we focus only on the period from 2017-2022
df_OGcntrv = df_OGcntrv.drop(['ISSUER_NAME', 'ISSUER_TICKER','ISSUER_ISIN',
                              'ISSUER_CNTRY_DOMICILE','2008','2009','2010',
                              '2011','2012','2013','2014','2015', '2016',], axis=1)

#Show the result
df_OGcntrv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1036 entries, 0 to 1035
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   ISSUERID  1036 non-null   object
 1   2022      1036 non-null   int64
 2   2021      1036 non-null   int64
 3   2020      1036 non-null   int64
 4   2019      1036 non-null   int64
 5   2018      1036 non-null   int64
 6   2017      1036 non-null   int64
dtypes: int64(6), object(1)
memory usage: 56.8+ KB

Sum row values of controversies in all 5 columns for years 2017 - 2022 and assign them into new column calling it Ttl_controv_08_22

In [74]:
#Sum Row Value for all Controversies Columns
df_OGcntrv['Ttl_controv_17_22'] = df_OGcntrv[['2017','2018', 
                                              '2019','2020', 
                                              '2021', '2022',
                                             ]].sum(axis=1)

#view updated DataFrame
df_OGcntrv.head(10)

             ISSUERID  2022  2021  2020  2019  2018  2017  Ttl_controv_17_22
0  IID000000002123703     2     1     0     0     0     0                  3
1  IID000000002123714     0     0     0     1     0     0                  1
2  IID000000002123719     0     0     0     1     0     0                  1
3  IID000000002123730     0     1     0     0     0     0                  1
4  IID000000002123743     5     1     1     1     0     0                  8
5  IID000000002123744     0     0     2     0     0     0                  2
6  IID000000002123746     0     0     1     0     0     0                  1
7  IID000000002123771     0     2     1     0     0     0                  3
8  IID000000002123904     0     1     0     0     0     0                  1
9  IID000000002123944     2     1     0     0     0     0                  3

In [75]:
# Delete controversies values in all 5 columns for years 2017 - 2022
df_OGcntrv = df_OGcntrv.drop(columns=['2017','2018', '2019', '2020', '2021', '2022',])

#Check the updates
df_OGcntrv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1036 entries, 0 to 1035
Data columns (total 2 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ISSUERID           1036 non-null   object
 1   Ttl_controv_17_22  1036 non-null   int64
dtypes: int64(1), object(1)
memory usage: 16.3+ KB

### Merge Ttl_controv_17_22 Column to Cleaned data ('Processed_Data_4.csv')

In [76]:
# Join the controversy data with the cleaned data
df = df.merge(df_OGcntrv, how='left', on='ISSUERID')

#Show the result
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4155 entries, 0 to 4154
Data columns (total 47 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   target                                4155 non-null   float64
 1   ISSUERID                              4155 non-null   object
 2   INDIVIDUAL_ID                         4155 non-null   int64
 3   DepartTime                            4155 non-null   int64
 4   AGE                                   4155 non-null   int64
 5   Tenure                                4155 non-null   int64
 6   DirectorshipCount                     4155 non-null   float64
 7   AVG_IPS                               3826 non-null   float64
 8   MED_IPS                               3826 non-null   float64
 9   AVG_Weighted_Connection               3825 non-null   float64
 10  MED_Weighted_Connection               3825 non-null   float64
 11  DOMINANT_SHAREHOLDER_PCT              4155 non-null   float64
 12  INSIDERS_OFFICERS_DIRECTORS_HELD_PCT  4155 non-null   float64
 13  PRINCIPAL_SHAREHOLDER_PCT             4155 non-null   float64
 14  CONTROLLING_SHAREHOLDER_PCT           4155 non-null   float64
 15  education_x                           2357 non-null   object
 16  GENDER                                4155 non-null   object
 17  Directorship_Level                    4155 non-null   object
 18  Directorship_Level_4                  4155 non-null   object
 19  COMPANY_FOUNDER                       4155 non-null   object
 20  EXEC_OR_NON-EXEC                      4155 non-null   object
 21  HistIdentity_CEO                      4155 non-null   object
 22  HistIdentity_Chairman                 4155 non-null   object
 23  HistIdentity_LeadDirector             4155 non-null   object
 24  PayCommitteeMember                    4155 non-null   object
 25  AuditCommitteeMember                  4155 non-null   object
 26  NominatingCommitteeMember             4155 non-null   object
 27  INDEPENDENT_OF_MANAGEMENT             4155 non-null   object
 28  MULTIPLE_CLASSES_OF_VOTING_STOCK      4155 non-null   object
 29  OutsideRelatedReason                  4155 non-null   object
 30  OutsideRelatedReason2                 4155 non-null   object
 31  BOARD_MEMBER_SINCE                    4155 non-null   object
 32  BOARD_MEMBER_UNTIL                    1438 non-null   object
 33  CEO_SINCE                             495 non-null    object
 34  CEO_UNTIL                             225 non-null    object
 35  CHAIRMAN_SINCE                        488 non-null    object
 36  CHAIRMAN_UNTIL                        218 non-null    object
 37  LEAD_DIRECTOR_SINCE                   292 non-null    object
 38  LEAD_DIRECTOR_UNTIL                   156 non-null    object
 39  Sector                                4012 non-null   object
 40  ISSUER_CNTRY_DOMICILE                 4155 non-null   object
 41  CONTROLLED_VIA_STOCK_PYRAMID          4155 non-null   object
 42  HAS_CORPORATE_PARENT                  4155 non-null   object
 43  OWNERSHIP_CATEGORY                    4155 non-null   object
 44  IVY_indicator                         4155 non-null   object
 45  Avg_3rd_connect_17_22                 2164 non-null   float64
 46  Ttl_controv_17_22                     4155 non-null   int64
dtypes: float64(11), int64(5), object(31)
memory usage: 1.5+ MB

#### Correct Data Types

In [77]:
#Convert INDIVIDUAL_ID to object
df['INDIVIDUAL_ID'] = df['INDIVIDUAL_ID'].astype('object')

#Convert target to categorical
df['DepartTime'] = df['DepartTime'].astype('category')

#Convert target to int then to categorical to remove decimals
df['target'] = df['target'].astype(int)
df['target'] = df['target'].astype('category')

#Convert "Avg_3rd_connect_17_22" from float to int and replace NaN values w 0
df['Avg_3rd_connect_17_22'] = df['Avg_3rd_connect_17_22'].fillna(0).astype(int)

#Check the changes
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4155 entries, 0 to 4154
Data columns (total 47 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   target                                4155 non-null   category
 1   ISSUERID                              4155 non-null   object
 2   INDIVIDUAL_ID                         4155 non-null   object
 3   DepartTime                            4155 non-null   category
 4   AGE                                   4155 non-null   int64
 5   Tenure                                4155 non-null   int64
 6   DirectorshipCount                     4155 non-null   float64
 7   AVG_IPS                               3826 non-null   float64
 8   MED_IPS                               3826 non-null   float64
 9   AVG_Weighted_Connection               3825 non-null   float64
 10  MED_Weighted_Connection               3825 non-null   float64
 11  DOMINANT_SHAREHOLDER_PCT              4155 non-null   float64
 12  INSIDERS_OFFICERS_DIRECTORS_HELD_PCT  4155 non-null   float64
 13  PRINCIPAL_SHAREHOLDER_PCT             4155 non-null   float64
 14  CONTROLLING_SHAREHOLDER_PCT           4155 non-null   float64
 15  education_x                           2357 non-null   object
 16  GENDER                                4155 non-null   object
 17  Directorship_Level                    4155 non-null   object
 18  Directorship_Level_4                  4155 non-null   object
 19  COMPANY_FOUNDER                       4155 non-null   object
 20  EXEC_OR_NON-EXEC                      4155 non-null   object
 21  HistIdentity_CEO                      4155 non-null   object
 22  HistIdentity_Chairman                 4155 non-null   object
 23  HistIdentity_LeadDirector             4155 non-null   object
 24  PayCommitteeMember                    4155 non-null   object
 25  AuditCommitteeMember                  4155 non-null   object
 26  NominatingCommitteeMember             4155 non-null   object
 27  INDEPENDENT_OF_MANAGEMENT             4155 non-null   object
 28  MULTIPLE_CLASSES_OF_VOTING_STOCK      4155 non-null   object
 29  OutsideRelatedReason                  4155 non-null   object
 30  OutsideRelatedReason2                 4155 non-null   object
 31  BOARD_MEMBER_SINCE                    4155 non-null   object
 32  BOARD_MEMBER_UNTIL                    1438 non-null   object
 33  CEO_SINCE                             495 non-null    object
 34  CEO_UNTIL                             225 non-null    object
 35  CHAIRMAN_SINCE                        488 non-null    object
 36  CHAIRMAN_UNTIL                        218 non-null    object
 37  LEAD_DIRECTOR_SINCE                   292 non-null    object
 38  LEAD_DIRECTOR_UNTIL                   156 non-null    object
 39  Sector                                4012 non-null   object
 40  ISSUER_CNTRY_DOMICILE                 4155 non-null   object
 41  CONTROLLED_VIA_STOCK_PYRAMID          4155 non-null   object
 42  HAS_CORPORATE_PARENT                  4155 non-null   object
 43  OWNERSHIP_CATEGORY                    4155 non-null   object
 44  IVY_indicator                         4155 non-null   object
 45  Avg_3rd_connect_17_22                 4155 non-null   int64
 46  Ttl_controv_17_22                     4155 non-null   int64
dtypes: category(2), float64(9), int64(4), object(32)
memory usage: 1.5+ MB

In [78]:
#Statistical summary of numerical columns
df.describe()

,AGE,Tenure,DirectorshipCount,AVG_IPS,MED_IPS,AVG_Weighted_Connection,MED_Weighted_Connection,DOMINANT_SHAREHOLDER_PCT,INSIDERS_OFFICERS_DIRECTORS_HELD_PCT,PRINCIPAL_SHAREHOLDER_PCT,CONTROLLING_SHAREHOLDER_PCT,Avg_3rd_connect_17_22,Ttl_controv_17_22
count,4155.000000,4155.000000,4155.000000,3826.000000,3826.000000,3825.000000,3825.000000,4155.000000,4155.000000,4155.000000,4155.000000,4155.000000,4155.000000
mean,63.535740,8.320096,2.116727,8.571441,8.520331,3.911116,3.672824,15.833779,9.283134,10.326869,8.436445,2.273887,2.093622
std,9.719556,7.862967,1.300937,9.828369,9.666400,2.877619,2.945609,19.567285,20.028659,11.260883,21.071798,3.069109,3.006676
min,30.000000,0.000000,1.000000,0.000000,0.000000,0.100000,0.100000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
25%,58.000000,2.000000,1.000000,2.951094,3.091250,1.777778,1.600000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
50%,64.000000,6.000000,2.000000,6.085804,6.250000,3.300000,3.100000,11.380000,0.900000,10.740000,0.000000,1.000000,1.000000
75%,70.000000,12.000000,3.000000,10.307256,10.277500,5.380000,4.900000,17.800000,5.400000,14.750000,0.000000,4.000000,2.000000
max,98.000000,57.000000,9.000000,78.418571,78.430000,30.700000,30.700000,99.500000,99.500000,47.500000,99.500000,18.000000,24.000000

In [79]:
### Export Transformed DataFrame to a CSV File
#Uncomment if needed
'''
df.to_csv(r'/Users/ms_fatishi/Documents/MPSA/ALY6980/Primary_Clean_Data_Fatima3.csv', 
          index = False, header=True)
'''

"\ndf.to_csv(r'/Users/ms_fatishi/Documents/MPSA/ALY6980/Primary_Clean_Data_Fatima3.csv', \n          index = False, header=True)\n"

### Feature Engineering (Dates)

In [80]:
#Extract date columns
date_cols = ['CEO_UNTIL','CHAIRMAN_UNTIL','LEAD_DIRECTOR_UNTIL']

# Convert Date columns to date type in order to extract time values
df[date_cols] = df[date_cols].apply(pd.to_datetime, errors='coerce')

###  CEO
# Extract the year when director ended being CEO
df['CEO_End_Y'] = df['CEO_UNTIL'].dt.year


# Fill the Null values in depart time with zeros and convert to int
df['CEO_End_Y'] = df['CEO_End_Y'].fillna(0)

# Convert the float type to integer first and then convert it to the 
#object type (in case the decimal places will influence Python to 
#think 2022.0 and 2022 are different objects)
df['CEO_End_Y'] = df['CEO_End_Y'].astype('int')
df['CEO_End_Y'] = df['CEO_End_Y'].astype('object')

df

,target,ISSUERID,INDIVIDUAL_ID,DepartTime,AGE,Tenure,DirectorshipCount,AVG_IPS,MED_IPS,AVG_Weighted_Connection,...,LEAD_DIRECTOR_UNTIL,Sector,ISSUER_CNTRY_DOMICILE,CONTROLLED_VIA_STOCK_PYRAMID,HAS_CORPORATE_PARENT,OWNERSHIP_CATEGORY,IVY_indicator,Avg_3rd_connect_17_22,Ttl_controv_17_22,CEO_End_Y
0,0,IID000000002123703,88176,0,67,0,1.0,7.9850,7.985,0.445455,...,NaT,Financials,US,No,No,Widely Held,False,6,3,0
1,0,IID000000002123703,139570,0,62,0,3.0,5.8500,5.850,0.433333,...,NaT,Financials,US,No,No,Widely Held,UNKNOWN,8,3,0
2,0,IID000000002123703,22405,0,67,0,5.0,5.3250,5.325,0.443750,...,NaT,Financials,US,No,No,Widely Held,False,6,3,0
3,0,IID000000002123703,178049,0,67,0,4.0,8.7700,8.770,0.457143,...,NaT,Financials,US,No,No,Widely Held,False,8,3,0
4,0,IID000000002123703,685844,0,56,1,1.0,5.7175,5.885,NaN,...,NaT,Financials,US,No,No,Widely Held,UNKNOWN,0,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4150,0,IID000000005086397,15426,2020,78,41,1.0,19.4100,17.435,12.145000,...,NaT,NaN,US,No,No,Principal Shareholder,UNKNOWN,0,1,2001
4151,0,IID000000005086397,122662,2018,63,3,1.0,0.0000,0.000,2.300000,...,NaT,NaN,US,No,No,Principal Shareholder,UNKNOWN,0,1,0
4152,0,IID000000005086397,11412,2018,81,34,1.0,2.2450,2.245,12.860000,...,NaT,NaN,US,No,No,Principal Shareholder,UNKNOWN,0,1,0
4153,0,IID000000005086397,21177,2019,79,13,2.0,4.4780,6.820,6.125000,...,NaT,NaN,US,No,No,Principal Shareholder,UNKNOWN,2,1,0
4154,0,IID000000005086397,107675,2022,75,17,1.0,7.5550,8.280,7.433333,...,NaT,NaN,US,No,No,Principal Shareholder,False,0,1,0

In [81]:
###  CHAIRMAN
# Extract the year when director ended being CHAIRMAN
df['CHAIRMAN_End_Y'] = df['CHAIRMAN_UNTIL'].dt.year


# Fill the Null values in depart time with zeros and convert to int
df['CHAIRMAN_End_Y'] = df['CHAIRMAN_End_Y'].fillna(0)

# Convert the float type to integer first and then convert it to the 
#object type (in case the decimal places will influence Python to 
#think 2022.0 and 2022 are different objects)
df['CHAIRMAN_End_Y'] = df['CHAIRMAN_End_Y'].astype('int')
df['CHAIRMAN_End_Y'] = df['CHAIRMAN_End_Y'].astype('object')

df

,target,ISSUERID,INDIVIDUAL_ID,DepartTime,AGE,Tenure,DirectorshipCount,AVG_IPS,MED_IPS,AVG_Weighted_Connection,...,Sector,ISSUER_CNTRY_DOMICILE,CONTROLLED_VIA_STOCK_PYRAMID,HAS_CORPORATE_PARENT,OWNERSHIP_CATEGORY,IVY_indicator,Avg_3rd_connect_17_22,Ttl_controv_17_22,CEO_End_Y,CHAIRMAN_End_Y
0,0,IID000000002123703,88176,0,67,0,1.0,7.9850,7.985,0.445455,...,Financials,US,No,No,Widely Held,False,6,3,0,0
1,0,IID000000002123703,139570,0,62,0,3.0,5.8500,5.850,0.433333,...,Financials,US,No,No,Widely Held,UNKNOWN,8,3,0,0
2,0,IID000000002123703,22405,0,67,0,5.0,5.3250,5.325,0.443750,...,Financials,US,No,No,Widely Held,False,6,3,0,0
3,0,IID000000002123703,178049,0,67,0,4.0,8.7700,8.770,0.457143,...,Financials,US,No,No,Widely Held,False,8,3,0,0
4,0,IID000000002123703,685844,0,56,1,1.0,5.7175,5.885,NaN,...,Financials,US,No,No,Widely Held,UNKNOWN,0,3,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4150,0,IID000000005086397,15426,2020,78,41,1.0,19.4100,17.435,12.145000,...,NaN,US,No,No,Principal Shareholder,UNKNOWN,0,1,2001,2020
4151,0,IID000000005086397,122662,2018,63,3,1.0,0.0000,0.000,2.300000,...,NaN,US,No,No,Principal Shareholder,UNKNOWN,0,1,0,0
4152,0,IID000000005086397,11412,2018,81,34,1.0,2.2450,2.245,12.860000,...,NaN,US,No,No,Principal Shareholder,UNKNOWN,0,1,0,0
4153,0,IID000000005086397,21177,2019,79,13,2.0,4.4780,6.820,6.125000,...,NaN,US,No,No,Principal Shareholder,UNKNOWN,2,1,0,0
4154,0,IID000000005086397,107675,2022,75,17,1.0,7.5550,8.280,7.433333,...,NaN,US,No,No,Principal Shareholder,False,0,1,0,0

In [82]:
###  LEAD DIRECTOR
# Extract the year when director ended being LEAD DIRECTOR
df['LEAD_D_End_Y'] = df['LEAD_DIRECTOR_UNTIL'].dt.year


# Fill the Null values in depart time with zeros and convert to int
df['LEAD_D_End_Y'] = df['LEAD_D_End_Y'].fillna(0)

# Convert the float type to integer first and then convert it to the 
#object type (in case the decimal places will influence Python to 
#think 2022.0 and 2022 are different objects)
df['LEAD_D_End_Y'] = df['LEAD_D_End_Y'].astype('int')
df['LEAD_D_End_Y'] = df['LEAD_D_End_Y'].astype('object')

df.head(20)

,target,ISSUERID,INDIVIDUAL_ID,DepartTime,AGE,Tenure,DirectorshipCount,AVG_IPS,MED_IPS,AVG_Weighted_Connection,...,ISSUER_CNTRY_DOMICILE,CONTROLLED_VIA_STOCK_PYRAMID,HAS_CORPORATE_PARENT,OWNERSHIP_CATEGORY,IVY_indicator,Avg_3rd_connect_17_22,Ttl_controv_17_22,CEO_End_Y,CHAIRMAN_End_Y,LEAD_D_End_Y
0,0,IID000000002123703,88176,0,67,0,1.0,7.985000,7.985,0.445455,...,US,No,No,Widely Held,False,6,3,0,0,0
1,0,IID000000002123703,139570,0,62,0,3.0,5.850000,5.850,0.433333,...,US,No,No,Widely Held,UNKNOWN,8,3,0,0,0
2,0,IID000000002123703,22405,0,67,0,5.0,5.325000,5.325,0.443750,...,US,No,No,Widely Held,False,6,3,0,0,0
3,0,IID000000002123703,178049,0,67,0,4.0,8.770000,8.770,0.457143,...,US,No,No,Widely Held,False,8,3,0,0,0
4,0,IID000000002123703,685844,0,56,1,1.0,5.717500,5.885,NaN,...,US,No,No,Widely Held,UNKNOWN,0,3,0,0,0
5,0,IID000000002123703,35281,0,57,2,3.0,9.210000,9.640,1.414286,...,US,No,No,Widely Held,False,3,3,0,0,0
6,0,IID000000002123703,538604,0,46,5,2.0,5.899375,5.730,4.066667,...,US,No,No,Widely Held,UNKNOWN,1,3,0,0,0
7,0,IID000000002123703,555712,0,57,5,1.0,5.675882,6.890,3.400000,...,US,No,No,Widely Held,UNKNOWN,0,3,0,0,0
8,0,IID000000002123703,233998,0,60,8,1.0,2.653529,3.120,4.720000,...,US,No,No,Widely Held,False,0,3,0,0,0
9,0,IID000000002123703,103968,0,68,11,2.0,10.458235,10.790,5.116667,...,US,No,No,Widely Held,False,3,3,0,0,0
10,0,IID000000002123703,221769,0,63,9,1.0,18.755294,15.930,5.233333,...,US,No,No,Widely Held,True,0,3,0,0,0
11,0,IID000000002123703,76183,0,69,11,3.0,10.570588,9.860,5.133333,...,US,No,No,Widely Held,True,2,3,0,0,0
12,0,IID000000002123703,25909,0,71,21,3.0,11.640000,12.570,7.619048,...,US,No,No,Widely Held,UNKNOWN,5,3,0,0,2015
13,0,IID000000002123703,581800,0,59,6,2.0,4.502941,3.950,1.200000,...,US,No,No,Widely Held,UNKNOWN,3,3,0,0,0
14,1,IID000000002123703,149735,2021,73,9,2.0,8.427500,8.725,4.800000,...,US,No,No,Widely Held,True,1,3,0,2020,0
15,0,IID000000002123703,88825,2017,77,13,1.0,1.215000,1.215,3.077778,...,US,No,No,Widely Held,UNKNOWN,4,3,0,0,0
16,0,IID000000002123703,35013,2017,81,18,1.0,1.980000,1.980,4.433333,...,US,No,No,Widely Held,UNKNOWN,6,3,0,0,0
17,0,IID000000002123703,131621,2019,74,12,1.0,2.306000,1.410,3.300000,...,US,No,No,Widely Held,UNKNOWN,3,3,0,0,0
18,1,IID000000002123703,152444,2022,64,3,1.0,3.205000,3.225,2.525000,...,US,No,No,Widely Held,UNKNOWN,3,3,0,0,0
19,1,IID000000002123703,240514,2022,68,6,4.0,5.695000,6.950,4.175000,...,US,No,No,Widely Held,UNKNOWN,1,3,0,0,0

In [83]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4155 entries, 0 to 4154
Data columns (total 50 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   target                                4155 non-null   category
 1   ISSUERID                              4155 non-null   object
 2   INDIVIDUAL_ID                         4155 non-null   object
 3   DepartTime                            4155 non-null   category
 4   AGE                                   4155 non-null   int64
 5   Tenure                                4155 non-null   int64
 6   DirectorshipCount                     4155 non-null   float64
 7   AVG_IPS                               3826 non-null   float64
 8   MED_IPS                               3826 non-null   float64
 9   AVG_Weighted_Connection               3825 non-null   float64
 10  MED_Weighted_Connection               3825 non-null   float64
 11  DOMINANT_SHAREHOLDER_PCT              4155 non-null   float64
 12  INSIDERS_OFFICERS_DIRECTORS_HELD_PCT  4155 non-null   float64
 13  PRINCIPAL_SHAREHOLDER_PCT             4155 non-null   float64
 14  CONTROLLING_SHAREHOLDER_PCT           4155 non-null   float64
 15  education_x                           2357 non-null   object
 16  GENDER                                4155 non-null   object
 17  Directorship_Level                    4155 non-null   object
 18  Directorship_Level_4                  4155 non-null   object
 19  COMPANY_FOUNDER                       4155 non-null   object
 20  EXEC_OR_NON-EXEC                      4155 non-null   object
 21  HistIdentity_CEO                      4155 non-null   object
 22  HistIdentity_Chairman                 4155 non-null   object
 23  HistIdentity_LeadDirector             4155 non-null   object
 24  PayCommitteeMember                    4155 non-null   object
 25  AuditCommitteeMember                  4155 non-null   object
 26  NominatingCommitteeMember             4155 non-null   object
 27  INDEPENDENT_OF_MANAGEMENT             4155 non-null   object
 28  MULTIPLE_CLASSES_OF_VOTING_STOCK      4155 non-null   object
 29  OutsideRelatedReason                  4155 non-null   object
 30  OutsideRelatedReason2                 4155 non-null   object
 31  BOARD_MEMBER_SINCE                    4155 non-null   object
 32  BOARD_MEMBER_UNTIL                    1438 non-null   object
 33  CEO_SINCE                             495 non-null    object
 34  CEO_UNTIL                             225 non-null    datetime64[ns]
 35  CHAIRMAN_SINCE                        488 non-null    object
 36  CHAIRMAN_UNTIL                        218 non-null    datetime64[ns]
 37  LEAD_DIRECTOR_SINCE                   292 non-null    object
 38  LEAD_DIRECTOR_UNTIL                   156 non-null    datetime64[ns]
 39  Sector                                4012 non-null   object
 40  ISSUER_CNTRY_DOMICILE                 4155 non-null   object
 41  CONTROLLED_VIA_STOCK_PYRAMID          4155 non-null   object
 42  HAS_CORPORATE_PARENT                  4155 non-null   object
 43  OWNERSHIP_CATEGORY                    4155 non-null   object
 44  IVY_indicator                         4155 non-null   object
 45  Avg_3rd_connect_17_22                 4155 non-null   int64
 46  Ttl_controv_17_22                     4155 non-null   int64
 47  CEO_End_Y                             4155 non-null   object
 48  CHAIRMAN_End_Y                        4155 non-null   object
 49  LEAD_D_End_Y                          4155 non-null   object
dtypes: category(2), datetime64[ns](3), float64(9), int64(4), object(32)
memory usage: 1.6+ MB

In [84]:
#Replace all 0 values in CEO_End_Y, CHAIRMAN_End_Y, LEAD_D_End_Y with NaN 
#to avoid confusion if DepartTime = 0 as CEO_End_Y = 0

#CEO_End_Y
df['CEO_End_Y'].mask(df['CEO_End_Y'] == 0, 'NaN', inplace=True)

#CHAIRMAN_End_Y
df['CHAIRMAN_End_Y'].mask(df['CHAIRMAN_End_Y'] == 0, 'NaN', inplace=True)

#LEAD_D_End_Y
df['LEAD_D_End_Y'].mask(df['LEAD_D_End_Y'] == 0, 'NaN', inplace=True)

#Checking the results
df['LEAD_D_End_Y'].value_counts()

NaN     3999
2019      31
2021      25
2020      24
2018      24
2017      15
2022      13
2015       5
2011       4
2016       3
2013       3
2012       3
2014       2
2009       2
2008       1
2010       1
Name: LEAD_D_End_Y, dtype: int64

In [85]:
# Create new columns for CEO, Chairman, and Lead Director to store values
df[['CEO_leav', 'Chairman_leav', 'Lead_D_leav']] = np.nan

df

,target,ISSUERID,INDIVIDUAL_ID,DepartTime,AGE,Tenure,DirectorshipCount,AVG_IPS,MED_IPS,AVG_Weighted_Connection,...,OWNERSHIP_CATEGORY,IVY_indicator,Avg_3rd_connect_17_22,Ttl_controv_17_22,CEO_End_Y,CHAIRMAN_End_Y,LEAD_D_End_Y,CEO_leav,Chairman_leav,Lead_D_leav
0,0,IID000000002123703,88176,0,67,0,1.0,7.9850,7.985,0.445455,...,Widely Held,False,6,3,NaN,NaN,NaN,NaN,NaN,NaN
1,0,IID000000002123703,139570,0,62,0,3.0,5.8500,5.850,0.433333,...,Widely Held,UNKNOWN,8,3,NaN,NaN,NaN,NaN,NaN,NaN
2,0,IID000000002123703,22405,0,67,0,5.0,5.3250,5.325,0.443750,...,Widely Held,False,6,3,NaN,NaN,NaN,NaN,NaN,NaN
3,0,IID000000002123703,178049,0,67,0,4.0,8.7700,8.770,0.457143,...,Widely Held,False,8,3,NaN,NaN,NaN,NaN,NaN,NaN
4,0,IID000000002123703,685844,0,56,1,1.0,5.7175,5.885,NaN,...,Widely Held,UNKNOWN,0,3,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4150,0,IID000000005086397,15426,2020,78,41,1.0,19.4100,17.435,12.145000,...,Principal Shareholder,UNKNOWN,0,1,2001,2020,NaN,NaN,NaN,NaN
4151,0,IID000000005086397,122662,2018,63,3,1.0,0.0000,0.000,2.300000,...,Principal Shareholder,UNKNOWN,0,1,NaN,NaN,NaN,NaN,NaN,NaN
4152,0,IID000000005086397,11412,2018,81,34,1.0,2.2450,2.245,12.860000,...,Principal Shareholder,UNKNOWN,0,1,NaN,NaN,NaN,NaN,NaN,NaN
4153,0,IID000000005086397,21177,2019,79,13,2.0,4.4780,6.820,6.125000,...,Principal Shareholder,UNKNOWN,2,1,NaN,NaN,NaN,NaN,NaN,NaN
4154,0,IID000000005086397,107675,2022,75,17,1.0,7.5550,8.280,7.433333,...,Principal Shareholder,False,0,1,NaN,NaN,NaN,NaN,NaN,NaN

In [86]:
#Check the updates
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4155 entries, 0 to 4154
Data columns (total 53 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   target                                4155 non-null   category
 1   ISSUERID                              4155 non-null   object
 2   INDIVIDUAL_ID                         4155 non-null   object
 3   DepartTime                            4155 non-null   category
 4   AGE                                   4155 non-null   int64
 5   Tenure                                4155 non-null   int64
 6   DirectorshipCount                     4155 non-null   float64
 7   AVG_IPS                               3826 non-null   float64
 8   MED_IPS                               3826 non-null   float64
 9   AVG_Weighted_Connection               3825 non-null   float64
 10  MED_Weighted_Connection               3825 non-null   float64
 11  DOMINANT_SHAREHOLDER_PCT              4155 non-null   float64
 12  INSIDERS_OFFICERS_DIRECTORS_HELD_PCT  4155 non-null   float64
 13  PRINCIPAL_SHAREHOLDER_PCT             4155 non-null   float64
 14  CONTROLLING_SHAREHOLDER_PCT           4155 non-null   float64
 15  education_x                           2357 non-null   object
 16  GENDER                                4155 non-null   object
 17  Directorship_Level                    4155 non-null   object
 18  Directorship_Level_4                  4155 non-null   object
 19  COMPANY_FOUNDER                       4155 non-null   object
 20  EXEC_OR_NON-EXEC                      4155 non-null   object
 21  HistIdentity_CEO                      4155 non-null   object
 22  HistIdentity_Chairman                 4155 non-null   object
 23  HistIdentity_LeadDirector             4155 non-null   object
 24  PayCommitteeMember                    4155 non-null   object
 25  AuditCommitteeMember                  4155 non-null   object
 26  NominatingCommitteeMember             4155 non-null   object
 27  INDEPENDENT_OF_MANAGEMENT             4155 non-null   object
 28  MULTIPLE_CLASSES_OF_VOTING_STOCK      4155 non-null   object
 29  OutsideRelatedReason                  4155 non-null   object
 30  OutsideRelatedReason2                 4155 non-null   object
 31  BOARD_MEMBER_SINCE                    4155 non-null   object
 32  BOARD_MEMBER_UNTIL                    1438 non-null   object
 33  CEO_SINCE                             495 non-null    object
 34  CEO_UNTIL                             225 non-null    datetime64[ns]
 35  CHAIRMAN_SINCE                        488 non-null    object
 36  CHAIRMAN_UNTIL                        218 non-null    datetime64[ns]
 37  LEAD_DIRECTOR_SINCE                   292 non-null    object
 38  LEAD_DIRECTOR_UNTIL                   156 non-null    datetime64[ns]
 39  Sector                                4012 non-null   object
 40  ISSUER_CNTRY_DOMICILE                 4155 non-null   object
 41  CONTROLLED_VIA_STOCK_PYRAMID          4155 non-null   object
 42  HAS_CORPORATE_PARENT                  4155 non-null   object
 43  OWNERSHIP_CATEGORY                    4155 non-null   object
 44  IVY_indicator                         4155 non-null   object
 45  Avg_3rd_connect_17_22                 4155 non-null   int64
 46  Ttl_controv_17_22                     4155 non-null   int64
 47  CEO_End_Y                             4155 non-null   object
 48  CHAIRMAN_End_Y                        4155 non-null   object
 49  LEAD_D_End_Y                          4155 non-null   object
 50  CEO_leav                              0 non-null      float64
 51  Chairman_leav                         0 non-null      float64
 52  Lead_D_leav                           0 non-null      float64
dtypes: category(2), datetime64[ns](3), float64(12), int64(4), object(32)
memory usage: 1.7+ MB

###  Indentify the if director was CEO/Chairman/Lead Director while leaving the board (T) If they weren't or if they still were on the board then (F)

In [87]:
from tqdm import tqdm # Time evaluation for loops
# CEO
for j in tqdm(range(0, len(df['CEO_End_Y']))):
    if str(df['CEO_End_Y'].iloc[j]) == str(df['DepartTime'].iloc[j]):
        df['CEO_leav'].iloc[j] = 'T'
    else:
        df['CEO_leav'].iloc[j] = 'F'

#Show the result
df['CEO_leav'].value_counts()

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 4155/4155 [00:00<00:00, 5452.75it/s]

F    4052
T     103
Name: CEO_leav, dtype: int64

In [88]:
# Chairman
for j in tqdm(range(0, len(df['CHAIRMAN_End_Y']))):
    if str(df['CHAIRMAN_End_Y'].iloc[j]) == str(df['DepartTime'].iloc[j]):
        df['Chairman_leav'].iloc[j] = 'T'
    else:
        df['Chairman_leav'].iloc[j] = 'F'

#Show the result
df['Chairman_leav'].value_counts()

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 4155/4155 [00:00<00:00, 5514.16it/s]

F    4026
T     129
Name: Chairman_leav, dtype: int64

In [89]:
# Lead Director
for j in tqdm(range(0, len(df['LEAD_D_End_Y']))):
    if str(df['LEAD_D_End_Y'].iloc[j]) == str(df['DepartTime'].iloc[j]):
        df['Lead_D_leav'].iloc[j] = 'T'
    else:
        df['Lead_D_leav'].iloc[j] = 'F'

#Check the result
df['Lead_D_leav'].value_counts()

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 4155/4155 [00:00<00:00, 5515.07it/s]

F    4082
T      73
Name: Lead_D_leav, dtype: int64

In [90]:
#Show the result
df.head(20)

,target,ISSUERID,INDIVIDUAL_ID,DepartTime,AGE,Tenure,DirectorshipCount,AVG_IPS,MED_IPS,AVG_Weighted_Connection,...,OWNERSHIP_CATEGORY,IVY_indicator,Avg_3rd_connect_17_22,Ttl_controv_17_22,CEO_End_Y,CHAIRMAN_End_Y,LEAD_D_End_Y,CEO_leav,Chairman_leav,Lead_D_leav
0,0,IID000000002123703,88176,0,67,0,1.0,7.985000,7.985,0.445455,...,Widely Held,False,6,3,NaN,NaN,NaN,F,F,F
1,0,IID000000002123703,139570,0,62,0,3.0,5.850000,5.850,0.433333,...,Widely Held,UNKNOWN,8,3,NaN,NaN,NaN,F,F,F
2,0,IID000000002123703,22405,0,67,0,5.0,5.325000,5.325,0.443750,...,Widely Held,False,6,3,NaN,NaN,NaN,F,F,F
3,0,IID000000002123703,178049,0,67,0,4.0,8.770000,8.770,0.457143,...,Widely Held,False,8,3,NaN,NaN,NaN,F,F,F
4,0,IID000000002123703,685844,0,56,1,1.0,5.717500,5.885,NaN,...,Widely Held,UNKNOWN,0,3,NaN,NaN,NaN,F,F,F
5,0,IID000000002123703,35281,0,57,2,3.0,9.210000,9.640,1.414286,...,Widely Held,False,3,3,NaN,NaN,NaN,F,F,F
6,0,IID000000002123703,538604,0,46,5,2.0,5.899375,5.730,4.066667,...,Widely Held,UNKNOWN,1,3,NaN,NaN,NaN,F,F,F
7,0,IID000000002123703,555712,0,57,5,1.0,5.675882,6.890,3.400000,...,Widely Held,UNKNOWN,0,3,NaN,NaN,NaN,F,F,F
8,0,IID000000002123703,233998,0,60,8,1.0,2.653529,3.120,4.720000,...,Widely Held,False,0,3,NaN,NaN,NaN,F,F,F
9,0,IID000000002123703,103968,0,68,11,2.0,10.458235,10.790,5.116667,...,Widely Held,False,3,3,NaN,NaN,NaN,F,F,F
10,0,IID000000002123703,221769,0,63,9,1.0,18.755294,15.930,5.233333,...,Widely Held,True,0,3,NaN,NaN,NaN,F,F,F
11,0,IID000000002123703,76183,0,69,11,3.0,10.570588,9.860,5.133333,...,Widely Held,True,2,3,NaN,NaN,NaN,F,F,F
12,0,IID000000002123703,25909,0,71,21,3.0,11.640000,12.570,7.619048,...,Widely Held,UNKNOWN,5,3,NaN,NaN,2015,F,F,F
13,0,IID000000002123703,581800,0,59,6,2.0,4.502941,3.950,1.200000,...,Widely Held,UNKNOWN,3,3,NaN,NaN,NaN,F,F,F
14,1,IID000000002123703,149735,2021,73,9,2.0,8.427500,8.725,4.800000,...,Widely Held,True,1,3,NaN,2020,NaN,F,F,F
15,0,IID000000002123703,88825,2017,77,13,1.0,1.215000,1.215,3.077778,...,Widely Held,UNKNOWN,4,3,NaN,NaN,NaN,F,F,F
16,0,IID000000002123703,35013,2017,81,18,1.0,1.980000,1.980,4.433333,...,Widely Held,UNKNOWN,6,3,NaN,NaN,NaN,F,F,F
17,0,IID000000002123703,131621,2019,74,12,1.0,2.306000,1.410,3.300000,...,Widely Held,UNKNOWN,3,3,NaN,NaN,NaN,F,F,F
18,1,IID000000002123703,152444,2022,64,3,1.0,3.205000,3.225,2.525000,...,Widely Held,UNKNOWN,3,3,NaN,NaN,NaN,F,F,F
19,1,IID000000002123703,240514,2022,68,6,4.0,5.695000,6.950,4.175000,...,Widely Held,UNKNOWN,1,3,NaN,NaN,NaN,F,F,F

In [91]:
#Drop date columns
df = df.drop(columns=['BOARD_MEMBER_SINCE','BOARD_MEMBER_UNTIL',
                      'CEO_SINCE', 'CEO_UNTIL','CHAIRMAN_SINCE', 
                      'CHAIRMAN_UNTIL','LEAD_DIRECTOR_SINCE', 
                      'LEAD_DIRECTOR_UNTIL','CEO_End_Y',
                      'CHAIRMAN_End_Y','LEAD_D_End_Y',])

#Change float to int
df['DirectorshipCount'] = df['DirectorshipCount'].astype(int)

#Check the updates
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4155 entries, 0 to 4154
Data columns (total 42 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   target                                4155 non-null   category
 1   ISSUERID                              4155 non-null   object
 2   INDIVIDUAL_ID                         4155 non-null   object
 3   DepartTime                            4155 non-null   category
 4   AGE                                   4155 non-null   int64
 5   Tenure                                4155 non-null   int64
 6   DirectorshipCount                     4155 non-null   int64
 7   AVG_IPS                               3826 non-null   float64
 8   MED_IPS                               3826 non-null   float64
 9   AVG_Weighted_Connection               3825 non-null   float64
 10  MED_Weighted_Connection               3825 non-null   float64
 11  DOMINANT_SHAREHOLDER_PCT              4155 non-null   float64
 12  INSIDERS_OFFICERS_DIRECTORS_HELD_PCT  4155 non-null   float64
 13  PRINCIPAL_SHAREHOLDER_PCT             4155 non-null   float64
 14  CONTROLLING_SHAREHOLDER_PCT           4155 non-null   float64
 15  education_x                           2357 non-null   object
 16  GENDER                                4155 non-null   object
 17  Directorship_Level                    4155 non-null   object
 18  Directorship_Level_4                  4155 non-null   object
 19  COMPANY_FOUNDER                       4155 non-null   object
 20  EXEC_OR_NON-EXEC                      4155 non-null   object
 21  HistIdentity_CEO                      4155 non-null   object
 22  HistIdentity_Chairman                 4155 non-null   object
 23  HistIdentity_LeadDirector             4155 non-null   object
 24  PayCommitteeMember                    4155 non-null   object
 25  AuditCommitteeMember                  4155 non-null   object
 26  NominatingCommitteeMember             4155 non-null   object
 27  INDEPENDENT_OF_MANAGEMENT             4155 non-null   object
 28  MULTIPLE_CLASSES_OF_VOTING_STOCK      4155 non-null   object
 29  OutsideRelatedReason                  4155 non-null   object
 30  OutsideRelatedReason2                 4155 non-null   object
 31  Sector                                4012 non-null   object
 32  ISSUER_CNTRY_DOMICILE                 4155 non-null   object
 33  CONTROLLED_VIA_STOCK_PYRAMID          4155 non-null   object
 34  HAS_CORPORATE_PARENT                  4155 non-null   object
 35  OWNERSHIP_CATEGORY                    4155 non-null   object
 36  IVY_indicator                         4155 non-null   object
 37  Avg_3rd_connect_17_22                 4155 non-null   int64
 38  Ttl_controv_17_22                     4155 non-null   int64
 39  CEO_leav                              4155 non-null   object
 40  Chairman_leav                         4155 non-null   object
 41  Lead_D_leav                           4155 non-null   object
dtypes: category(2), float64(8), int64(5), object(27)
memory usage: 1.3+ MB

In [92]:
# Check percentage of missing values 
percent_missing = df.isnull(). sum() * 100 / len(df)
percent_missing

target                                   0.000000
ISSUERID                                 0.000000
INDIVIDUAL_ID                            0.000000
DepartTime                               0.000000
AGE                                      0.000000
Tenure                                   0.000000
DirectorshipCount                        0.000000
AVG_IPS                                  7.918171
MED_IPS                                  7.918171
AVG_Weighted_Connection                  7.942238
MED_Weighted_Connection                  7.942238
DOMINANT_SHAREHOLDER_PCT                 0.000000
INSIDERS_OFFICERS_DIRECTORS_HELD_PCT     0.000000
PRINCIPAL_SHAREHOLDER_PCT                0.000000
CONTROLLING_SHAREHOLDER_PCT              0.000000
education_x                             43.273165
GENDER                                   0.000000
Directorship_Level                       0.000000
Directorship_Level_4                     0.000000
COMPANY_FOUNDER                          0.000000
EXEC_OR_NON-EXEC                         0.000000
HistIdentity_CEO                         0.000000
HistIdentity_Chairman                    0.000000
HistIdentity_LeadDirector                0.000000
PayCommitteeMember                       0.000000
AuditCommitteeMember                     0.000000
NominatingCommitteeMember                0.000000
INDEPENDENT_OF_MANAGEMENT                0.000000
MULTIPLE_CLASSES_OF_VOTING_STOCK         0.000000
OutsideRelatedReason                     0.000000
OutsideRelatedReason2                    0.000000
Sector                                   3.441637
ISSUER_CNTRY_DOMICILE                    0.000000
CONTROLLED_VIA_STOCK_PYRAMID             0.000000
HAS_CORPORATE_PARENT                     0.000000
OWNERSHIP_CATEGORY                       0.000000
IVY_indicator                            0.000000
Avg_3rd_connect_17_22                    0.000000
Ttl_controv_17_22                        0.000000
CEO_leav                                 0.000000
Chairman_leav                            0.000000
Lead_D_leav                              0.000000
dtype: float64

In [93]:
#Select all float columns with missing values
float_col = ['AVG_IPS', 'MED_IPS','AVG_Weighted_Connection','MED_Weighted_Connection']

#Round to 2 decimal places and Replace missing values w 0 
df[float_col] = round(df[float_col], 2).fillna(0)

#Select all categorical columns with missing values
cat_col = ['education_x','Sector']

#Replace missing values w UNKNOWN
df[cat_col] = df[cat_col].fillna('Unknown')

# Rename the features
df.rename(columns = {'education_x':'education'}, inplace=True)

#Check the updates
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4155 entries, 0 to 4154
Data columns (total 42 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   target                                4155 non-null   category
 1   ISSUERID                              4155 non-null   object
 2   INDIVIDUAL_ID                         4155 non-null   object
 3   DepartTime                            4155 non-null   category
 4   AGE                                   4155 non-null   int64
 5   Tenure                                4155 non-null   int64
 6   DirectorshipCount                     4155 non-null   int64
 7   AVG_IPS                               4155 non-null   float64
 8   MED_IPS                               4155 non-null   float64
 9   AVG_Weighted_Connection               4155 non-null   float64
 10  MED_Weighted_Connection               4155 non-null   float64
 11  DOMINANT_SHAREHOLDER_PCT              4155 non-null   float64
 12  INSIDERS_OFFICERS_DIRECTORS_HELD_PCT  4155 non-null   float64
 13  PRINCIPAL_SHAREHOLDER_PCT             4155 non-null   float64
 14  CONTROLLING_SHAREHOLDER_PCT           4155 non-null   float64
 15  education                             4155 non-null   object
 16  GENDER                                4155 non-null   object
 17  Directorship_Level                    4155 non-null   object
 18  Directorship_Level_4                  4155 non-null   object
 19  COMPANY_FOUNDER                       4155 non-null   object
 20  EXEC_OR_NON-EXEC                      4155 non-null   object
 21  HistIdentity_CEO                      4155 non-null   object
 22  HistIdentity_Chairman                 4155 non-null   object
 23  HistIdentity_LeadDirector             4155 non-null   object
 24  PayCommitteeMember                    4155 non-null   object
 25  AuditCommitteeMember                  4155 non-null   object
 26  NominatingCommitteeMember             4155 non-null   object
 27  INDEPENDENT_OF_MANAGEMENT             4155 non-null   object
 28  MULTIPLE_CLASSES_OF_VOTING_STOCK      4155 non-null   object
 29  OutsideRelatedReason                  4155 non-null   object
 30  OutsideRelatedReason2                 4155 non-null   object
 31  Sector                                4155 non-null   object
 32  ISSUER_CNTRY_DOMICILE                 4155 non-null   object
 33  CONTROLLED_VIA_STOCK_PYRAMID          4155 non-null   object
 34  HAS_CORPORATE_PARENT                  4155 non-null   object
 35  OWNERSHIP_CATEGORY                    4155 non-null   object
 36  IVY_indicator                         4155 non-null   object
 37  Avg_3rd_connect_17_22                 4155 non-null   int64
 38  Ttl_controv_17_22                     4155 non-null   int64
 39  CEO_leav                              4155 non-null   object
 40  Chairman_leav                         4155 non-null   object
 41  Lead_D_leav                           4155 non-null   object
dtypes: category(2), float64(8), int64(5), object(27)
memory usage: 1.3+ MB

In [94]:
#Show the result
df

,target,ISSUERID,INDIVIDUAL_ID,DepartTime,AGE,Tenure,DirectorshipCount,AVG_IPS,MED_IPS,AVG_Weighted_Connection,...,ISSUER_CNTRY_DOMICILE,CONTROLLED_VIA_STOCK_PYRAMID,HAS_CORPORATE_PARENT,OWNERSHIP_CATEGORY,IVY_indicator,Avg_3rd_connect_17_22,Ttl_controv_17_22,CEO_leav,Chairman_leav,Lead_D_leav
0,0,IID000000002123703,88176,0,67,0,1,7.98,7.98,0.45,...,US,No,No,Widely Held,False,6,3,F,F,F
1,0,IID000000002123703,139570,0,62,0,3,5.85,5.85,0.43,...,US,No,No,Widely Held,UNKNOWN,8,3,F,F,F
2,0,IID000000002123703,22405,0,67,0,5,5.32,5.32,0.44,...,US,No,No,Widely Held,False,6,3,F,F,F
3,0,IID000000002123703,178049,0,67,0,4,8.77,8.77,0.46,...,US,No,No,Widely Held,False,8,3,F,F,F
4,0,IID000000002123703,685844,0,56,1,1,5.72,5.88,0.00,...,US,No,No,Widely Held,UNKNOWN,0,3,F,F,F
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4150,0,IID000000005086397,15426,2020,78,41,1,19.41,17.44,12.14,...,US,No,No,Principal Shareholder,UNKNOWN,0,1,F,T,F
4151,0,IID000000005086397,122662,2018,63,3,1,0.00,0.00,2.30,...,US,No,No,Principal Shareholder,UNKNOWN,0,1,F,F,F
4152,0,IID000000005086397,11412,2018,81,34,1,2.24,2.24,12.86,...,US,No,No,Principal Shareholder,UNKNOWN,0,1,F,F,F
4153,0,IID000000005086397,21177,2019,79,13,2,4.48,6.82,6.12,...,US,No,No,Principal Shareholder,UNKNOWN,2,1,F,F,F
4154,0,IID000000005086397,107675,2022,75,17,1,7.56,8.28,7.43,...,US,No,No,Principal Shareholder,False,0,1,F,F,F

In [95]:
#Summary Statistics of the Cleaned Dataset
df['Sector'].value_counts()

Financials                810
Health Care               700
Information Technology    478
Industrials               453
Consumer Discretionary    433
Communication Services    307
Energy                    260
Consumer Staples          250
Utilities                 180
Unknown                   143
Materials                 141
Name: Sector, dtype: int64

In [96]:
#Show the results
df['target'].value_counts()

0    3794
1     361
Name: target, dtype: int64

### Export the data to CSV file to execute the next part -  Predictive Modeling - Part 1 (Auto_ML)
### Or use already exported file <Processed_Data_5.csv> attached to this submission

In [97]:
### Export Transformed DataFrame to a CSV File 
#Change the file path part /ms_fatishi/Documents/MPSA/ALY6980/  to your path
'''
df.to_csv(r'/Users/ms_fatishi/Documents/MPSA/ALY6980/Processed_Data_5.csv', 
          index = False, header=True)

'''

"\ndf.to_csv(r'/Users/ms_fatishi/Documents/MPSA/ALY6980/Processed_Data_5.csv', \n          index = False, header=True)\n\n"